img.player-role-profile-pic {
    max-width: 100px;
    border-radius: 50%;
    border-style: solid;
    border-color: #000;
    border-width: 5px;
    background: #D1D1D1;
}

div.error {
    color: red;
    background-color: pink;
    border-color: red;
    border-style: solid;
    padding: 1em;
}

button {
    border-radius: 2em;
    padding: 0.5em;
    display: block;
    margin: 0.5em;
}

label {
    display: block;
    margin: 0.5em 0 0.5em;
}

input {
    border-radius: 2em;
    padding: 0.5em;
    display: block;
}