/* html {
    height: 100%;
}

ul {
    text-align: left;
}

div#app {
    height: 100%;
}

body {
    background-color: #b8b8b8;
    height: 100%;
}

div#main-content {
    text-align: center;
    padding: 2em;

    height: 100%;

    font-family: Arial;
}

button {
    font-size: large;

    margin: auto;
    margin-top: 2em;

    padding: 1.5em;

    transform: scale3d(0.25);
    border: 5px solid black;
    border-radius: 1em;

    display: block;
}

input {
    width: 90%;
}

select {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    body {
        background-color: #000;
        background-image: url('../img/backdrop.png');
        background-repeat: repeat-x;
        margin: 0;
        height: 100%;
    }

    div#main-content {
        display: block;
        margin-bottom: 0;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: #b8b8b8;
        width: 40%;

        border-style: solid;
        border-left-width: 15px;
        border-right-width: 15px;
        border-color: #101010;

        font-size: large;
    }

    button {
        font-size: xx-large;
        
        border-radius: 2em;
    }

    input {
        font-size: xx-large;
    }

    select {
        font-size: x-large;
    }
}

button:disabled {
    border-color: gray;
}

input,
select {
    display: block;

    padding: 0.5em;

    transform: scale3d(0.25);
    border: 5px solid black;
    border-radius: 40px;
}

input:read-only {
    color: gray;
    border-color: gray;
}

input.death-tracker {
    pointer-events: none;
}

input.conviction-tracker {
    pointer-events: none;
}

label {
    font-size: xx-large;
    padding-top: 1em;
    display: block;
    text-align: left;
}

table {
    margin-top: 1em;
    margin-bottom: 1em;

    border-spacing: 0;

    width: 100%;
}

table thead tr th,
table tbody tr td {
    border-style: solid;
    border-width: 2px 2px 0 0;
    border-color: #606060;
}

table thead tr th {
    border-top-width: 0;
}

table thead tr th:first-of-type,
table tbody tr td:first-of-type {
    border-left-width: 0;
}

table thead tr th:last-of-type,
table tbody tr td:last-of-type {
    border-right-width: 0;
}

div.player-role {
    text-align: left;
} */

img.player-role-profile-pic {
    max-width: 100px;
    border-radius: 50%;
    border-style: solid;
    border-color: #000;
    border-width: 5px;
    background: #D1D1D1;
}

div.error {
    color: red;
    background-color: pink;
    border-color: red;
    border-style: solid;
    padding: 1em;
}